*{
    
    font-family: Arial, Helvetica, sans-serif;
}
.rojo{
width: 100px;
height: 100px;
background-color: red;
transition: 2s;
}

.rojo:hover{
    width: 200px;
}

/* ---- traslate ---- */
.contenedor{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.tarjeta{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    transition: 0.3s;
}

/*el transition no va en el hover va en el elemento*/
.tarjeta:hover{
    transform: translateY(-20px);
    box-shadow:8px 5px 15px 0px rgba(50, 50, 50, 0.75);
}


/* ----skew ---- */
.tarjeta2{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    transition: 0.3s;
    box-shadow:8px 5px 15px 0px rgba(50, 50, 50, 0.75);
}

.tarjeta2:hover{
    transform: skew(20deg, 20deg);
}


/* ---- scale ---- */
.tarjeta3{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    transition: 0.3s;
    box-shadow:8px 5px 15px 0px rgba(50, 50, 50, 0.75);
}

.tarjeta3:hover{
    transform: scale(1.1);
}

/* ---- scale solo las imagenes de las tarjetas ---- */

.tarjeta4{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    box-shadow:8px 5px 15px 0px rgba(50, 50, 50, 0.75);
    overflow: hidden;
}

.tarjeta4 img{
    transition: 0.3s;
}
.tarjeta4 img:hover{
    transform: scale(1.3);
}

/*imagen escalada con borde blanco
si quiero que la tarjeta tenga un margen blanco tengo que colocar
la imagen dentro de un div y a ese div ponerle un margen que lo separe
del contenedor y a ese div ponerle el overflow hidden*/

.tarjeta5{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    box-shadow:8px 5px 15px 0px rgba(50, 50, 50, 0.75);
    
}

.imagen{
    margin: 10px;
    overflow: hidden;
}

.tarjeta5 img{
    transition: 0.3s;
}
.tarjeta5 img:hover{
    transform: scale(1.3);
}


/*
NOTAS:
transform: traslate (x, y) eje x: movimiento Horizontal (+ derecha - izquierda)
                           eje y: movimiento Vertical (+ arriba - abajo)
                            se usan px

skew: inclinar (x,y)
si el elemento tiene una imagen dentro tambien la va a transformar
el valor es en deg (grados)

Escale: Escalar agrandar o achicar
el valor es un numero, el numero que se indica multiplica el valor del
elemento por ese numero, por ejemplo:
valor del elemento x2 = transform: scale(2);
mitad del elemento / 2 = transform: scale(0.5);


OVERFLOW:hidden
Se aplica cuando tengo elementos que escapan al tamaño del div
pero no quiero que los muestre, oculto todo lo que desborda

OVERFLOW:scroll
te agrega una barra de scroll no muestra todo y te deja scrolear
para ver todo, pero mantiene el tamano del div
*/