$color-principal: #00FF00;
$tipografia-principal: 'Helvetica';
$color-secundario: #ff0000;
$tipografia-secundaria: 'Courier New';
$distancia-sombra: 15px;
$sombra: rgba(0, 0, 0, 0.35) 0px 5px $distancia-sombra;
$color-tarjeta-adentro: #0000ff;